---
services:
  traefik:
    container_name: {{ traefik_container_name }}
    image: traefik:{{ traefik_version }}
    networks:
      - backend
      - frontend
    dns:
      - '8.8.8.8'
{% if traefik_environment|count > 0 %}
    environment: {{ traefik_environment }}
{% endif %}
    ports:
      {% for entrypoint in traefik_entrypoints|dict2items %}
      - "{{ entrypoint.value.address }}:{{ entrypoint.value.address.split(":") | last }}"
      {% endfor %}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/etc/traefik/traefik.yml
      - {{ traefik_folder }}/conf:{{ traefik_folder }}/conf
      - {{ traefik_folder }}/certs:{{ traefik_folder }}/certs
    healthcheck:
      test: ["CMD", "traefik", "healthcheck"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: always
    labels: {{ traefik_labels }}
networks:
  backend:
    name: traefik_backend
    external: true
  frontend:
