---
entryPoints: {{ traefik_entrypoints }}
ping: {}
api:
  dashboard: true
providers: {{ traefik_providers }}
accessLog: {{ traefik_access_logs }}
log:
  level: {{ traefik_loglevel }}
{% if traefik_additional_config|count > 0 %}
{{ traefik_additional_config | to_nice_yaml }}
{% endif %}
